<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<p class = "login_screen_title">
 FIGMA DASHBOARD
</p>




<br/>
<br/>




<!-- <div class="login_screen_container"> -->
	<!-- <p class = "auth_heading"> Username </p>
	<br/>
	<input  class = "auth_field" placeholder="User Name" type = "text" />
	<br/>
	<p class = "auth_heading"> Password </p>
	<br/>
	<input  class = "auth_field" placeholder="Password" type = "text" /> -->


	<img src = "https://cdn-images-1.medium.com/max/1200/1*DG5eBssbHsAyh_RtTRz8mQ@2x.png" class = "front_page_icon"/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      <button mat-stroked-button [color]= "'microsoftbutton'" type="submit" class = "login_button" (click)="login()"
      id = "login_figma">Login To Figma</button>

	<!--   First name: <input type="text" placeholder = "User Name" name="fname" class = "auth_field"><br/>
  Last name: <input type="text" placeholder = "Password" name="lname" class = "auth_field"><br/>
  <input type="submit" value="Submit"> -->

<!-- </div> -->
