<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<p class = "login_screen_title">
 FIGMA DASHBOARD
</p>




<br/>
<br/>


	<img src = "https://cdn-images-1.medium.com/max/1200/1*DG5eBssbHsAyh_RtTRz8mQ@2x.png" class = "front_page_icon"/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
      <button mat-stroked-button [color]= "'microsoftbutton'" type="submit" class = "login_button" (click)="login()"
      id = "login_figma">Login To Figma</button>

