<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<p class = "login_screen_title">
 FIGMA DASHBOARD
</p>




<br/>
<br/>

<div class="login_screen_container">
	<!-- <p class = "auth_heading"> Username </p>
	<br/>
	<input  class = "auth_field" placeholder="User Name" type = "text" />
	<br/>
	<p class = "auth_heading"> Password </p>
	<br/>
	<input  class = "auth_field" placeholder="Password" type = "text" /> -->

	 <label for="uname" class = "auth_heading"><b>Username</b></label>
	 <br/>
      <input class = "auth_field" type="text" placeholder="Username" name="uname" required>


      <br/>
      <label for="psw" class = "auth_heading" ><b>Password</b></label>
      <br/>
      <input  class = "auth_field" type="password" placeholder="Password" name="psw" required>
        
        <br/>
        <br/>
        <br/>
        <br/>
      <button type="submit" class = "login_button" (click)="login()">Login</button>

	<!--   First name: <input type="text" placeholder = "User Name" name="fname" class = "auth_field"><br/>
  Last name: <input type="text" placeholder = "Password" name="lname" class = "auth_field"><br/>
  <input type="submit" value="Submit"> -->
      
</div>


